{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
    <div class="row">
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container login-container">
        <div class="row justify-content-center">
            <div class="text-center col-12 col-sm-12 col-md-6 login-form-1">
                <h1 >Champion  league</h1>
                <div class="col-12 text-center">
                    <img src="{{ asset('build/cesitel.png') }}" alt="" class="img-fluid">
                </div>
                    <div class="form-group">
                        <input type="text" id="inputUsername" placeholder="Votre Nom d'utilisateur" name="username" class="form-control form-control-lg" value="{{ last_username }}" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" id="inputPassword" placeholder="Votre Mot de passe" name="password" class="form-control form-control-lg">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btnSubmit btn btn-block btn-lg btn-primary"><span class="fa fa-sign-in-alt" aria-hidden="true"></span> se connecter</button>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{#                    <div class="checkbox mb-3">#}
{#                        <label>#}
{#                            <input type="checkbox" name="_remember_me"> Remember me#}
{#                        </label>#}
{#                    </div>#}
            </div>
        </div>
    </div>
</form>
{% endblock %}
