{% extends 'base_noel.html.twig' %}

{% block title %}Colis index{% endblock %}

{% block body %}
    <h1>Colis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomColis</th>
                <th>DescriptionColis</th>
                <th>ReferenceColis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coli in colis %}
            <tr>
                <td>{{ coli.id }}</td>
                <td>{{ coli.nomColis }}</td>
                <td>{{ coli.DescriptionColis }}</td>
                <td>{{ coli.referenceColis }}</td>
                <td>
                    <a href="{{ path('colis_show', {'id': coli.id}) }}">show</a>
                    <a href="{{ path('colis_edit', {'id': coli.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('colis_new') }}">Create new</a>
{% endblock %}
