{% extends 'base.html.twig' %}

{% block title %}Matches index{% endblock %}

{% block body %}
<div class="row row justify-content-center align-self-center">
    <div class="shadow-lg p-3 mb-5 bg-white rounded col-sm col-md-10 col align-self-center text-center">
        <H1>Match(s) du jour</H1>
    </div>
</div>

    {% for match in matches %}
        <div class="row justify-content-center align-self-center predict">
            <div class="shadow-lg p-3 mb-5 bg-white rounded col-sm col-md-10 align-self-center ">
                {%  if predicts[loop.index0] is defined%}
                    <div class="row">
                        <div class="text-center justify-content-center align-self-center text-center alert-info col-12">
                            <h3>Rappel de votre pronostic</h3>
                        </div>
                    </div>
                {%  endif %}
                <div class="row">
                    <div class="justify-content-center align-self-center text-center d-sm-none d-md-block col-md-0 col-lg-2">
                        <span class="align-middle d-none d-lg-block">{{ match.home }}</span>
                    </div>
                    <div class="justify-content-center align-self-center  text-center  col-4 col-md-4 col-lg-2">
                        {%  if predicts[loop.index0] is defined%}
                            <span class="score">{{ predicts[loop.index0].HomeResult }}</span>
                        {% endif %}
                        <img class="img-fluid " src="{{ asset('/images/thumbnails/' ~ match.home.thumbnail) }}" alt="{{ match.home }}">
                    </div>
                    <div class="text-center justify-content-center align-self-center col-4 col-md-4 col-lg-4">
                        <span>{{ match.StartTime|format_datetime('full', 'short', locale='fr') }}</span>
                    </div>

                    <div class="justify-content-center align-self-center text-center col-4 col-md-4 col-lg-2">
                        <img class="img-fluid" src="{{ asset('/images/thumbnails/' ~ match.visitor.thumbnail) }}" alt="{{ match.visitor }}">
                        {%  if predicts[loop.index0] is defined %}
                            <span class="score">{{ predicts[loop.index0].VisitorResult }}</span>
                        {% endif %}
                    </div>
                    <div class="justify-content-center align-self-center text-center d-sm-none d-md-block col-md-0 col-lg-2">
                        <span class="align-middle d-none d-lg-block">{{ match.visitor }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="justify-content-center align-self-center text-center col-12">
                        {%  if predicts[loop.index0] is defined%}
                            {% if predicts[loop.index0].Predict.Id == 1 %}
                                <span class="score">Victoire {{ match.home }}</span>
                            {% else %}
                                <span class="score">Victoire {{ match.visitor }}</span>
                            {% endif %}
                        {% elseif "now"|date('Y-m-d H:i:s') < match.StartTime|date_modify("-1 hour") |date('Y-m-d H:i:s') %}
                            {% if not is_granted("ROLE_ADMIN") %}
                                <a class="btn btn-lg btn-outline-secondary" href="{{ path('predictions_new', {'id': match.id}) }}">Faites votre pronostic</a>
                                {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center align-self-center predict">
            <div class="shadow-lg p-3 mb-5 bg-white rounded col-10 align-self-center ">
                <div class="justify-content-center align-self-center text-center col-12">
                    <h2>Pas de match pour aujourd'hui</h2>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
