{% extends 'base.html.twig' %}

{% block title %}Ancv2022commande index{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="">Chèques vacances et carte culture 2022</h1>
    </div>
    <div class="jumbotron">
        <br>
        <br>
        <h2 >Votre CSE a le plaisir de vous informer qu’il reconduit l’opération chèques vacances et carte culture pour cette année 2022.
            Conditions d’attribution :</h2>
        <br>
        <h4 >
        -	Sont éligibles à un montant de 30€ en carte culture, les salariés ayant une ancienneté de 3 à 6 mois au 31 mars 2022.<br>
        -	Sont éligibles à un montant de 60€ (chèques vacances et carte culture), les salariés ayant entre 6 et 12 mois d’ancienneté dans l’entreprise au 31 mars 2022.<br>
        -	Sont éligibles à un montant de 90€ (chèques vacances et carte culture), les salariés ayant plus d’un an d’ancienneté dans l’entreprise au 31 mars 2022.<br>
        </h4>
        <br>
        <br>
        <br>

        <h2>Vous avez le choix entre 3 options :</h2>
        <br>

        <h4 >
            1/ 100% du montant en chèques vacances. <br>
            2/ 100% en carte culture. <br>
            3/ 50% en chèques vacances et 50% en carte culture. <br><br>
            <strong>En cas de non-réponse vous aurez l’option 3 par défaut.</strong>

        </h4>
        <br>
        <br>
        <br>
{#        <a href="{{ path('app_ancv2022commande_new') }}" class="btn btn-lg btn-success">Je fais mon choix </a>#}

    </div>


    {% if is_granted("ROLE_ADMIN") %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom salarié</th>
                <th>Validation</th>
                <th>Type de chèque</th>
                {% if is_granted("ROLE_SUPERADMIN") %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for ancv2022commande in ancv2022commandes %}
            <tr>
                <td>{{ ancv2022commande.user.nom }}</td>
                <td>{{ ancv2022commande.CreatedAt ? ancv2022commande.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ancv2022commande.cheque.name }}</td>
                {% if is_granted("ROLE_SUPERADMIN") %}
                    <td>
                        <a href="{{ path('app_ancv2022commande_show', {'id': ancv2022commande.id}) }}">show</a>
                        <a href="{{ path('app_ancv2022commande_edit', {'id': ancv2022commande.id}) }}">edit</a>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
