{% extends 'base_noel.html.twig' %}

{% block title %}Noel index{% endblock %}

{% block body %}
    <div>
        <h1>Listing des cadeaux de Noel 2021</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre de salariés</th>
                    <th>Nombre de commandes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ countUsers["nbUsers"] |e }}</td>
                    <td>{{ countCommandes["nbCommandes"] |e }}</td>

                </tbody>
            </table>

        <table class="table text-center">
            <thead>
            <tr>
                <th colspan="2"> Les colis</th>
                <th colspan="2"> Les chèques</th>
            </tr>
            <tr>
                <th>Colis</th>
                <th>nombre de colis</th>
                <th>Cheque</th>
                <th>Nombre de cheque</th>
            </tr>

            </thead>
            <tbody>
            <tr>
                {% for package in countPackages %}
                    <td>{{ package["titre"] |e }}</td>
                    <td>{{ package["nbCommandes"] |e }}</td>
                    {% endfor %}

                {% for cheque in countCheques %}
                    <td>{{ cheque["titre"] |e }}</td>
                    <td>{{ cheque["nbCheque"] |e }}</td>
                {% endfor %}
            </tbody>
        </table>

    </div>



    <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Conseiller</th>
                <th>colis</th>
                <th>Cheque cadeaux</th>
                <th>adresse email</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for salarie in salaries %}
            {% set myVar = 2 %}
            {% if myVar not in salarie.roles|keys %}
            <tr>
                <td>{{ salarie.username }}</td>
                <td>{{ salarie.nom }}</td>
                {% for noel in noels %}
                    {% if salarie.username == noel.salarie.username%}
                        <td>{{ noel.package.titlePackage}}</td>
                        <td>{{ noel.cheque.titleCheque }}</td>
                        <td>{{ noel.emailSalarie }}</td>
                        <td>{{ noel.createdAt ? noel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('noel_new') }}">Create new</a>
{% endblock %}
