{% extends 'base_noel.html.twig' %}

{% block title %}Noel index{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-12">
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('noel_new') }}" class="btn btn-lg btn-dark">Retour</a>
            {% endif %}
        <h1>Listing des cadeaux de Noel 2022</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre de salariés</th>
                    <th>Nombre de commandes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ countUsers["nbUsers"] |e }}</td>
                    <td>{{ countCommandes["nbCommandes"] |e }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-6  ">
            <table class="table text-center">
                <thead>
                <tr>
                    <th colspan="2"> Les colis</th>
                </tr>
                <tr>
                    <th>Colis</th>
                    <th>nombre de colis</th>
                </tr>

                </thead>
                <tbody>
                    {% for package in countPackages %}
                        <tr>
                            <td>{{ package["titre"] |e }}</td>
                            <td>{{ package["nbCommandes"] |e }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 col-md-6  ">
            <table class="table text-center">
                <thead>
                <tr>
                    <th colspan="2"> Les chèques</th>
                </tr>
                <tr>
                    <th>Chèques</th>
                    <th>nombre de chèques</th>
                </tr>

                </thead>
                <tbody>
                {% for cheque in countCheques %}
                    <tr>
                        <td>{{ cheque["titre"] |e }}</td>
                        <td>{{ cheque["nbCheque"] |e }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>


    </div>






    <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Conseiller</th>
                <th>colis</th>
                <th>Cheque cadeaux</th>
                <th>adresse email</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for salarie in salaries %}
            {% set myVar = 2 %}
            {% if myVar not in salarie.roles|keys %}
            <tr>
                <td>{{ salarie.username }}</td>
                <td>{{ salarie.nom }}</td>
                {% for noel in noels %}
                    {% if salarie.username == noel.salarie.username%}
                        <td>{{ noel.package.titlePackage}}</td>
                        <td>{{ noel.cheque.titleCheque }}</td>
                        <td>{{ noel.emailSalarie }}</td>
                        <td>{{ noel.createdAt ? noel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
