{% extends 'base_noel.html.twig' %}

{% block title %}New Noel{% endblock %}

{% block body %}

    <div class="jumbotron">
{#        <div class=" alert alert-danger">#}
{#            Les commandes sont maintenant fermées.#}
{#        </div>#}
        <img src="{{ asset('build/logo_cse3.png') }}" alt="" width="150px" height="150px">
        <h3>Votre CSE Troyes a le plaisir de vous offrir <strong>*</strong> en cette fin d'année un colis gourmand et festif<strong>**</strong> ainsi que des chèques cadeaux<strong>***</strong></h3>
        <p>Nous avons présélectionné pour vous plusieurs thèmes de colis afin que vous puissiez choisir celui qui vous fera plaisir.</p>
        <p>Et comme chaque année, des chèques cadeaux vous serons offerts avec cette fois la possibilité pour vous de choisir entre le format papier ou le numérique.</p>
        <H4>Attention, nous attendons votre réponse au plus tard pour le <strong><h2>27 octobre 2021</h2></strong></H4>
        <h6>Sans choix de votre part, nous vous offrirons le colis sucré par défaut ainsi que les chèques cadeaux au <b>format papier</b>.</H6>
        <br>
        <H4>Les membres du CSE Sitel Troyes vous souhaitent de passer de bonnes fêtes de fin d’année.</H4><br>
        <h4>Protegez-vous!!! Respectez les gestes barrières.</h4>
        <br>
        <h6>* Ces cadeaux sont exclusivement réservés à tous les salariés de Sitel Troyes</h6>
        <h6>** Les colis seront offerts à TOUS les salariés sans restriction d' ancienneté.</h6>
        <h6>** Les chèque cadeaux seront offerts à tous les salariés ayant une ancienneté d’au moins 3 mois au sein de l’établissement au 31 Octobre 2021.</h6>

    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10">
            <div class="row">
            {% for coli in colis %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>{{ coli.titlePackage }}</h3>
                        </div>
                        <img src="{{ asset('images/thumbnails/' ~ coli.image) }}" class="card-img-top" alt="...">
                        <div class="card-body">
{#                            <h5 class="card-title">{{ coli.titlePackage }}</h5>#}
                            <p class="card-text">{{ coli.descriptionPackage | raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        {% for cheque in cheques %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ cheque.titleCheque }}</h3>
                    </div>
                    <img src="{{ asset('images/thumbnails/' ~ cheque.imageCheque) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        {#                        <h5 class="card-title">{{ coli.titre }}</h5>#}
                        <p class="card-text">{{ cheque.descriptionCheque |raw  }}</p>
{#                        <a href="{{ cheque.lien }}" class="btn btn-info" target="_blank">PLus d'infos ...</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>

    {% if control == 0  %}
        {{ include('commande21/_form.html.twig') }}
    {% else %}
        <div class="row justify-content-center alert alert-info">
            <h2 class="text-center">Votre commande a déjà été prise en compte. <br> En cas de problème merci de contacter le CSE directement.</h2>
        </div>
    {% endif %}

{#    <div class=" alert alert-danger">#}
{#        Les commandes sont maintenant fermées.#}
{#    </div>#}

{% endblock %}