{% extends 'base.html.twig' %}

{% block title %}Participations index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 Summer_002 summer-text">
            <h1>Classement des participants </h1>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Participant</th>
                <th>score</th>
                <th>Date de passage</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Date de fin</th>
                    <th>Durée du quiz</th>
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.user.nom }}</td>
                <td>{{ participation.score }}</td>
                <td>{{ participation.createdAt ? participation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>{{ participation.dateValidation ? participation.dateValidation|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ participation.delta ~ "sec" }}</td>

                    <td>
                        <a href="{{ path('participations_show', {'id': participation.id}) }}">show</a>
                        {% if is_granted("ROLE_SUPERADMIN") %}
                            <a href="{{ path('participations_edit', {'id': participation.id}) }}">edit</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_SUPERADMIN") %}
        <a href="{{ path('participations_new') }}">Create new</a>
    {% endif %}
{% endblock %}
