{% extends 'base_ancv.twig' %}

{% block title %}Ancv{% endblock %}

{% block body %}
    <h1>Ancv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ancv.id }}</td>
            </tr>
            <tr>
                <th>Answers</th>
                <td>{{ ancv.Answers ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ ancv.Answer ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ ancv.CreatedAt ? ancv.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ancv_index') }}">back to list</a>

    <a href="{{ path('ancv_edit', {'id': ancv.id}) }}">edit</a>

    {{ include('ancv/_delete_form.html.twig') }}
{% endblock %}
