{% extends 'base.html.twig' %}

{% block title %}CPParticipation index{% endblock %}

{% block body %}
    <h1>CPParticipation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for c_p_participation in c_p_participations %}
            <tr>
                <td>{{ c_p_participation.id }}</td>
                <td>{{ c_p_participation.CreatedAt ? c_p_participation.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_c_p_participation_show', {'id': c_p_participation.id}) }}">show</a>
                    <a href="{{ path('app_c_p_participation_edit', {'id': c_p_participation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_c_p_participation_new') }}">Create new</a>
{% endblock %}
