{% extends 'base.html.twig' %}

{% block title %}Quiz CSE{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-12 text-center scary summer-text">
                <h1>{{ poll.title }}</h1>
            </div>
        </div>
    {% if poll.defaultPoll == false %}
        <br>
        <div class="row">
            <div class="col-12 text-center scary summer-text">
                {% if poll.openAt > open  %}
                    <h1>Ouverture du quiz le {{ poll.openAt | format_datetime(locale='fr') }}</h1>
                {% else %}
                    <h3>Fermeture du quiz le {{ poll.closedAt | format_datetime(locale='fr') }}</h3>
                {% endif %}
                <br>
            </div>
        </div>
    {% endif %}
        <br>
        <div class="row">
            <div class="col-12 text-center scary summer-text">
                <h1>{{ poll.description | raw}}</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 scary summer-text">
                <h3> {{ poll.consignes | raw}}</h3>
            </div>
        </div>
    <br>
    {% if open > poll.openAt  and  open < poll.closedAt %}

        <div class="col-12 text-center scary">
            <h2 class="alert-danger text-center">Avant de commencer, assurez-vous d'avoir le temps nécessaire aucun retour ne sera possible ... et pas de seconde chance!</h2>
            <h2 class="alert-danger text-center">Vous n'aurez que {{ poll.duration}} minutes pour répondre au questionnaire!</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center scary">
                <a href="{{ path('quiz_play') }}" class="btn btn-lg btn-danger">J'ai compris les conditions ... je me lance</a>
            </div>
        </div>
    {% endif %}

    <br>

{% endblock %}