<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height" />
        <title>
            CeSitel3 |
            {% block title %}
                {% if title is defined %} {{title}}{% else %}Champions League{% endif %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="/build/images/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <body class="">
    {% block nav %}
        {% if is_granted('ROLE_USER') %}
            {% include "nav/nav.html.twig" %}
        {% endif %}
    {% endblock %}
    <header class=""></header>

    </div>
    <div class="container-fluid ">
         {% if app.session is not null and app.session.started %}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-fluid ">
        {% block body %}
        {% endblock %}

    </div>
    <footer class=""></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% block js %}
    {% endblock %}
    </body>
</html>
