{% extends 'base.html.twig' %}

{% block title %}CPConcoursPhotos index{% endblock %}

{% block body %}



    <div>
        <h1>Concours photos Halloween 2022</h1>
        <h4>
            Déplacez les images pour les classer dans l'ordre de préférence.
        </h4>
        <h6>
            Nota: la photo en haut à gauche représente votre photo préférée.
        </h6>

    </div>

{#    {{ concours_photos }}#}
    <section>
        <div class="row rounded justify-content-center align-self-center ">
            <div class="col-12 col-md-10 col-lg-8 ">
                <form action="{{ path('classement_concours_photos_new') }}" method="post" id="concours_photos" name="concours_photos">
                    <div class="row rounded justify-content-center align-self-center ">
                        <div class="col-12 text-center" >
                            <ul id="sortable">
                                {% for image in images %}
                                    <li>
                                        <img class="img-fluid" src="{{ asset('images/concours_photos/' ~ image) }}">
                                        <input type="hidden" id="{{ image.id }}" name="{{ image.id }}" value="{{ image.nonParticipant }}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        </div>
                        <div class="row rounded justify-content-center align-self-center ">
                        <div class="col-12 text-center">
                            <input type="hidden" id="{{ concours_photos.id }}" name="concours" value="{{ concours_photos.id }}">
                            <button class="btn btn-lg btn-success scary" type="submit" id="concours" name="{{ concours_photos.id }}">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>



{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Titre</th>#}
{#                <th>Identifiant</th>#}
{#                <th>OpenAt</th>#}
{#                <th>ClosedAt</th>#}
{#                <th>Defaut</th>#}
{#                <th>Classement</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for c_p_concours_photo in c_p_concours_photos %}#}
{#            <tr>#}
{#                <td>{{ c_p_concours_photo.id }}</td>#}
{#                <td>{{ c_p_concours_photo.Titre }}</td>#}
{#                <td>{{ c_p_concours_photo.Identifiant }}</td>#}
{#                <td>{{ c_p_concours_photo.OpenAt ? c_p_concours_photo.OpenAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ c_p_concours_photo.ClosedAt ? c_p_concours_photo.ClosedAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ c_p_concours_photo.defaut ? 'Yes' : 'No' }}</td>#}
{#                <td>{{ c_p_concours_photo.Classement }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('app_c_p_concours_photos_show', {'id': c_p_concours_photo.id}) }}">show</a>#}
{#                    <a href="{{ path('app_c_p_concours_photos_edit', {'id': c_p_concours_photo.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="8">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}




{% endblock %}
