
{{ form_start(form) }}
    <div class="row">

        <div class="justify-content-center align-self-center text-center d-none d-md-block col-md-0 col-lg-3">
            <span class="align-middle d-none d-lg-block">{{ prediction.game.home.name }}</span>
        </div>
        <div class="justify-content-cented-none d-lg-blockr align-self-center col-4 col-md-4 col-lg-2">
            <img class="img-fluid" src="{{ asset('images/thumbnails/' ~ prediction.game.home.thumbnail) }}" alt="{{ prediction.game.home.name }}">
        </div>
        <div class="justify-content-center align-self-center col-2 col-md-2 col-lg-1">
                {{ form_errors(form.HomeResult) }}
                {{ form_widget(form.HomeResult, { 'attr': {'class': 'score'}}) }}
        </div>


       <div class="justify-content-center align-self-center col-2 col-md-2 col-lg-1">
               {{ form_errors(form.VisitorResult) }}
               {{ form_widget(form.VisitorResult, { 'attr': {'class': 'score'}}) }}
       </div>
       <div class="justify-content-center align-self-center col-4 col-md-4 col-lg-2">
           <img class="img-fluid" src="{{ asset('images/thumbnails/' ~ prediction.game.visitor.thumbnail) }}" alt="{{ prediction.game.visitor.name }}">
       </div>
       <div class="justify-content-center align-self-center text-center d-none d-md-block col-md-0 col-lg-3">
           <span class="align-middle d-none d-lg-block">{{ prediction.game.visitor.name }}</span>
       </div>

    </div>

    <div class="row">
        <div class="text-right justify-content-center align-self-center col-4">
            {{ form_label(form.Predict.1, null, { 'label': 'Gagnant' , 'attr': {'class': ''} }) }}
            {{ form_widget(form.Predict.1) }}
        </div>
        <div class="text-center justify-content-center align-self-center col-4">
                {{ form_label(form.Predict.2, null, { 'label': 'Match nul' , 'attr': {'class': ''} }) }}
                {{ form_widget(form.Predict.2) }}
        </div>
        <div class="text-left justify-content-center align-self-center col-4">
            {{ form_widget(form.Predict.3) }}
            {{ form_label(form.Predict.3, null, { 'label': 'Gagnant' , 'attr': {'class': ''} }) }}
        </div>
    </div>

    {% if Prevent == 0  %}
        <div class="row justify-content-center ">
            <button class="btn btn-success">{{ button_label|default('Valider mon choix') }}</button>
        </div>
    {% else %}
        <div class="row justify-content-center alert alert-info">
            <h2 class="">Vous avez déjà fait votre pronotic</h2>
        </div>
    {% endif %}


        <!-- prediction -->







{{ form_end(form) }}
