{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div class="row justify-content-center align-self-center predict">
    <div class="shadow-lg p-3 mb-5 bg-white rounded col-sm col-md-10 col align-self-center ">
        <h1>Users</h1>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('users_index') }}">back to list</a>

        <a class="btn btn-info" href="{{ path('users_edit', {'id': user.id}) }}">edit</a>

        {{ include('users/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
