{% extends 'base.html.twig' %}

{% block title %}Choices index{% endblock %}

{% block body %}
    <h1>Choices index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for choice in choices %}
            <tr>
                <td>{{ choice.id }}</td>
                <td>{{ choice.CreatedAt ? choice.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('choices_show', {'id': choice.id}) }}">show</a>
                    <a href="{{ path('choices_edit', {'id': choice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('choices_new') }}">Create new</a>
{% endblock %}
