{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="row bg-white rounded justify-content-center align-self-center text-center">
    <div class="col-12">
        {{ form_start(form, {'attr': {'id': 'idFormulaire'}}) }}

        {% for i in form.children | slice(0,10) %}
            <div class="row ">

                <div class="col text-left">

                        <div class="halloweek">
                            <h3>{{ form_label(i) }}</h3>
                        </div>

                    {{ form_widget(i) }}
                </div>
            </div>

        {% endfor %}

        <button class="btn btn-lg btn-danger halloweek" id="truc">{{ button_label|default('Valider mes réponses') }}</button>
        {{ form_end(form) }}
    </div>



</div>

{% block js %}

    <script>
        window.addEventListener('unload', (event) => {
            event.formAction()
        });
        // window.addEventListener('beforeunload', (event) => {
        //     event.returnValue = "Tu es sur ???";
        //
        // });
        // function unBind(){
        //     window.onbeforeunload = function() {
        //         return null;
        //     };
        // }

        function formAction() {
            window.removeEventListener('beforeunload', () => {

            });
            document.getElementById("idFormulaire").submit();
        }

        function countdown( elementName, minutes, seconds )
        {
            var element, endTime, hours, mins, msLeft, time;

            function twoDigits( n )
            {
                return (n <= 9 ? "0" + n : n);
            }

            function updateTimer()
            {
                msLeft = endTime - (+new Date);
                if ( msLeft < 1000 ) {
                    element.innerHTML = "Time is up!";
                    formAction();
                } else {
                    time = new Date( msLeft );
                    hours = time.getUTCHours();
                    mins = time.getUTCMinutes();
                    element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                    setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
                }
            }

            element = document.getElementById( elementName );
            endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
            updateTimer();
        }

        countdown( "ten-countdown", 5, 0 );

    </script>


{% endblock %}


