{% extends 'base.html.twig' %}

{% block title %}Halloween index{% endblock %}

{% block body %}
    <h1>Halloween listing</h1>
<div class="row">
    <div class="col-12 col-md-4 col-lg-2">
        <table class="table">
            <thead>
            <tr>
                <th>User</th>
                <th>CreatedAt</th>
            </tr>
            </thead>
            <tbody>
            {% for halloweenCheck in halloweenChecks %}
                <tr>
                    <td>{{ halloweenCheck.User }}</td>
                    <td>{{ halloweenCheck.createdAt ? halloweenCheck.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-8 col-lg-10">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>FinishedAt</th>
                <th>User</th>
                <th>Quest1</th>
                <th>Quest2</th>
                <th>Quest3</th>
                <th>Quest4</th>
                <th>Quest5</th>
                <th>Quest6</th>
                <th>Quest7</th>
                <th>Quest8</th>
                <th>Quest9</th>
                <th>Quest10</th>
                <th>Total points</th>
                {% if is_granted("ROLE_SUPERADMIN") %}
                <th>actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for halloween in halloweens %}
                <tr>
                    <td>{{ halloween.id }}</td>
                    <td>{{ halloween.createdAt ? halloween.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ halloween.finishedAt ? halloween.finishedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ halloween.User }}</td>
                    <td>{{ halloween.Quest1 }}</td>
                    <td>{{ halloween.Quest2 }}</td>
                    <td>{{ halloween.Quest3 }}</td>
                    <td>{{ halloween.Quest4 }}</td>
                    <td>{{ halloween.Quest5 }}</td>
                    <td>{{ halloween.Quest6 }}</td>
                    <td>{{ halloween.Quest7 }}</td>
                    <td>{{ halloween.Quest8 }}</td>
                    <td>{{ halloween.Quest9 }}</td>
                    <td>{{ halloween.Quest10 }}</td>
                    <td>{{ halloween.Total }}</td>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <td>
                        <a href="{{ path('halloween_show', {'id': halloween.id}) }}">show</a>
                        <a href="{{ path('halloween_edit', {'id': halloween.id}) }}">edit</a>
                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
