{% extends 'base.html.twig' %}

{% block title %}Halloween{% endblock %}

{% block body %}
    <h1>Halloween</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ halloween.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ halloween.createdAt ? halloween.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Quest1</th>
                <td>{{ halloween.Quest1 }}</td>
            </tr>
            <tr>
                <th>Quest2</th>
                <td>{{ halloween.Quest2 }}</td>
            </tr>
            <tr>
                <th>Quest3</th>
                <td>{{ halloween.Quest3 }}</td>
            </tr>
            <tr>
                <th>Quest4</th>
                <td>{{ halloween.Quest4 }}</td>
            </tr>
            <tr>
                <th>Quest5</th>
                <td>{{ halloween.Quest5 }}</td>
            </tr>
            <tr>
                <th>Quest6</th>
                <td>{{ halloween.Quest6 }}</td>
            </tr>
            <tr>
                <th>Quest7</th>
                <td>{{ halloween.Quest7 }}</td>
            </tr>
            <tr>
                <th>Quest8</th>
                <td>{{ halloween.Quest8 }}</td>
            </tr>
            <tr>
                <th>Quest9</th>
                <td>{{ halloween.Quest9 }}</td>
            </tr>
            <tr>
                <th>Quest10</th>
                <td>{{ halloween.Quest10 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('halloween_index') }}">back to list</a>

    <a href="{{ path('halloween_edit', {'id': halloween.id}) }}">edit</a>

    {{ include('halloween/_delete_form.html.twig') }}
{% endblock %}
