{% extends 'base.html.twig' %}

{% block title %}Hello ClassementController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-xl-6 bg-white">
    {% for match in classement %}
        <div class="table-responsive">
            <div class="card">
                <h5 class="card-header">{{ match[0].Home.Name}} vs {{ match[0].Visitor.Name }}</h5>
            </div>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Matricule</th>
                        <th scope="col">Points du match</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in match[1] %}
                    <tr>
                        <td>{{ user.User.username }}</td>
                        <td> {{ user.points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endfor %}
    </div>
    <div class=" col-12 col-xl-6 bg-white">
        <div class="card ">
            <h5 class="card-header">Tableau des scores</h5>
        </div>
        <table class="table  table-striped text-center">
            <thead>
            <tr>
                <th scope="col">Matricule</th>
                <th scope="col">Points obtenus</th>
            </tr>
            </thead>
            <tbody>
            {% for point in points %}
                <tr>
                    <td>{{ point.user }}</td>
                    <td> {{ point.pts }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>




{% endblock %}
