{% extends 'base.html.twig' %}

{% block title %}Cheque21{% endblock %}

{% block body %}
    <h1>Cheque21</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cheque21.id }}</td>
            </tr>
            <tr>
                <th>TitleCheque</th>
                <td>{{ cheque21.titleCheque }}</td>
            </tr>
            <tr>
                <th>DescriptionCheque</th>
                <td>{{ cheque21.descriptionCheque }}</td>
            </tr>
            <tr>
                <th>ImageCheque</th>
                <td>{{ cheque21.imageCheque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cheque21_index') }}">back to list</a>

    <a href="{{ path('cheque21_edit', {'id': cheque21.id}) }}">edit</a>

    {{ include('cheque21/_delete_form.html.twig') }}
{% endblock %}
